apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: insurance-app
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080   # हा पोर्ट वरून access करणार
